.day{
  height: auto;
  overflow: hidden;
  max-width: 700px;
  margin: auto;
  padding: 25px 0;

  h2{
    margin-bottom: .5em;
  }
}

// List item
.day ul li{
  p{
    text-align: center;

    span{
      float: left;

      width: 25%;

      text-align: left;
    }

    span:first-child{
      width: 50%;

      text-align: left;
    }

    span:last-child{
      text-align: right;
    }
  }
}
