// Example calculation:
// Desired side margin is 60
// Gutters are 30
// So on either sides of a column it's 30 / 2 = 15px
// Side margin = 60 - 15 = 45px

main{
  float: right;

  width: 100%;

  div.content{
    width: 100%;
    margin: auto;
  }
}
