// Example calculation:
// Desired side margin is 60
// Gutters are 30
// So on either sides of a column it's 30 / 2 = 15px
// Side margin = 60 - 15 = 45px

main{
  float: right;

  width: 100%;

  div.content{
    width: 100%;
    margin: auto;
  }
}

main .page-heading{
  padding: 80px 0;
  margin-bottom: 20px;

  background-color: $grey-light;

  h1{
    max-width: 700px;
    margin: auto;

    span{
      margin-left: 25px;

      color: $grey;
    }
  }
}