// Example calculation:
// Desired side margin is 60
// Gutters are 30
// So on either sides of a column it's 30 / 2 = 15px
// Side margin = 60 - 15 = 45px

header{
  padding-left: $side-margin;
  padding-right: $side-margin;
}

main,
aside,
footer{
  padding-left: $side-margin;
  padding-right: $side-margin;
}

aside{
  top: 0;
  left: 0;
  position: fixed;

  width: 300px;
  height: 100%;

  background-color: $grey-light;
}

main{
  float: right;
  
  width: calc( 100% - 300px );
}

@media #{$small-only}{
  header{
    padding-left: $side-margin-small;
    padding-right: $side-margin-small;
  }

  main,
  footer{
    padding-left: $side-margin-small;
    padding-right: $side-margin-small;
  }
}
