%base{
  @include brandon;

  font-size: 16px;
  font-weight: normal;
  text-rendering: geometricPrecision;
}

h1{
  @extend %base;

  font-size: 40px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;

  span{
    @extend h1;
  }
}

h2{
  @extend %base;

  letter-spacing: 2px;
  text-transform: uppercase;
}

p{
  @extend %base;

  font-size: 18px;
  line-height: 1.4;
  text-transform: lowercase;
}

a{
  @extend %base;

  font-size: 18px;
  line-height: 1.4;
  text-decoration: none;
  color: $black;
  cursor: pointer;

  &:hover,
  &:active{
    text-decoration: underline;
  }

  &.link-h1,
  &.link-h2,
  &.link-h3,
  &.link-p{
    text-decoration: none;
  }
}

span,
select{
  @extend %base;

  font-size: 18px;
  line-height: 1.4;
}
