nav ul{
  text-align: center;

  li{
    a{
      text-decoration: none;

      &:hover,
      &:focus{
        font-weight: bold;
      }
    }
  }
}

// Current item
nav ul{
  li.current a{
    font-weight: bold;
  }
}
